# Verification skipped

Diff apply or rollout failed: patch failed: patching file 'service/k8s/hpa.yaml'
1 out of 1 hunks failed--saving rejects to 'service/k8s/hpa.yaml.rej'

